.settings-elem
{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:17px;
	margin: 15px;
}

.settings-form
{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:17px;
	margin-left: 15px;
}
